body {
    background-color: #008000;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ff8000;
}

b {
    font-family: Arial, Helvetica, sans-serif;
    color: #ff8000;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ff8000;
}